@charset "UTF-8";

body {
    background-color: rgb(91, 39, 11);
    font-family: 'Courier New', Courier, monospace;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: rgb(243, 237, 230);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.268);
   
}
footer {
    color: white;
    text-align: center;
    font-size: italic;
}